.Faq_food_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
}

.Faq_information-text {
    padding: 25px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}