.Location_container {
    padding-top: 25px;
}

.Location_button_container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Location_text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 0 25px 25px 25px;
    flex-direction: column;
    color: white;
    border-radius: 10px;
}

.Location_information-text {
    padding-top: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Location_information-text-lg {
    padding-top: 20px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Location_line_divider {
    width: 50%; /* Set the width of the divider */
    height: 1px; /* Set the height of the divider */
    background: linear-gradient(to right, transparent, white, transparent); /* Adjust color stops as needed */
}