.Home_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
}

.Home_image {
    max-width: fit-content;
    width: 50%;
}

.Home_text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 0 25px 25px 25px;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #090248);
    color: white;
    border-radius: 10px;
}

.Home_information-text {
    padding-top: 20px;
    font-size: 18px;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Home_information-text-lg {
    padding: 20px 0 20px 0;
    font-size: 32px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Home_line_divider {
    width: 50%; /* Set the width of the divider */
    height: 1px; /* Set the height of the divider */
    background: linear-gradient(to right, transparent, white, transparent); /* Adjust color stops as needed */
}